@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-color: #E2E7EC;
    min-height: 100vh;

    .table {
        width: fit-content;

        .table-row {
            .table-cell {
                width: 25px;
                height: 25px;
                position: relative;
            }

            .badge {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 18px;
                left: 18px;
                z-index: 1;
            }
        }

        #c9-9, #c9-10, #c9-11, #c9-12 {
            border-top: orangered solid 3px;
        }
        #c12-9, #c12-10, #c12-11, #c12-12 {
            border-bottom: orangered solid 3px;
        }
        #c9-9, #c10-9, #c11-9, #c12-9 {
            border-left: orangered solid 3px;
        }
        #c9-12, #c10-12, #c11-12, #c12-12 {
            border-right: orangered solid 3px;
        }

    }

    .section-info {
        width: 300px;
    }
}